@mixin onclick-effect {
    cursor: pointer;
    transition-duration: 100ms;

    &:active {
        transform: scale(.95);
    }
}

@mixin box-shadow {
    box-shadow:  10px 10px 10px -14px #3c3c3c; 
}

$main-color: #e2e8f0;
$sidebar-color: #334155;

body {
    display: grid;
    grid-template: 1fr 4.5fr / 300px minmax(1065px, 1fr);
    grid-template-areas: 
    'side head'
    'side main';

    width: 100vw;
    height: 100vh;
    margin: 0;
    font-size: medium;
    font-family: 'Roboto', '-apple-system', 'BlinkMacSystemFont', 'Tahoma', 'sans‑serif';
}

.header {
    display: grid;
    grid-template: 1fr 1.5fr / 2fr 1fr;

    position: relative;
    z-index: 2;
    grid-area: head;
    padding: .5rem 4rem 0 4rem;
    background-color: white;
    place-items: center start;
    @include box-shadow();

    > div {
        display: grid;
        place-items: center start;

        width: 100%;
        height: 100%;
    }

    > :first-child {
        grid-template-columns: 26px 1fr;
        gap: 1rem;

        input[type=text] {
            padding: 6px;
            border: none;
            border-radius: 30px;
            font-size: 1rem;
            background-color: $main-color;
            width: 95%;
            min-width: 170px;
          }
    }

    > :nth-child(2) {
        grid-template-columns: 1fr 26px 56px auto;
        justify-items: end;
        gap: 1.5rem;

        > * {
            @include onclick-effect();
        }
    }

    > :nth-child(3) {
        grid-template-columns: 72px 1fr;
        gap: 1.5rem;

        .avatar {
            height: 72px;
            width: auto;
            border-radius: 72px;
        }

        #hi-there {
            font-size: .85rem;
            font-weight: 600;
            margin-bottom: .2rem;
        }

        #hi-there + div {
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    > :nth-child(4) {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

}

.sidebar {
    display: grid;
    grid-template-rows: 1.5fr 1fr 6fr 1fr 3fr 8fr;

    grid-area: side;
    background-color: $sidebar-color;
    color: white;
    padding: 1rem;
    font-weight: 500;

    > :first-child {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: .5rem;

        grid-row: 1 / 2;
        place-items: center start;
        font-size: 1.8rem;

        svg {
            height: 3.8rem;
            width: auto;
        }
    }

    > :nth-child(2) {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-row: 3 / 4;

        #file-icon {
            height: 1.8rem;
            width: auto;
        }
    }

    > :nth-child(3) {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-row: 5 / 6;
    }

    > :nth-child(2) > div, 
    > :nth-child(3) > div {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1.3rem;
        place-items: center start;

        font-size: 1.2rem;
        padding-left: 1rem;
        user-select: none;
        -webkit-user-select: none;
        @include onclick-effect();

        svg {
            height: 1.6rem;
            width: auto;
        }
    }     

    svg {
        fill: white;
    }
}

.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1.7rem;

    grid-area: main;
    background-color: $main-color;
    position: relative;
    z-index: 1;
    padding: 2rem 2.5rem 2.5rem 2rem;

    > * {
        display: grid;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .notes {
        grid-template-rows: 2.3rem 1fr;
        grid-area: 1 / 1 / 2 / 2;

        .cards {
            display: grid;
            grid-template-rows: repeat(3, minmax(200px, 1fr));
            grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
            gap: 1.5rem;
        }

        .card {
            display: grid;
            grid-template-rows: 1fr 3fr 1fr;
            align-items: center;

            background-color: white;
            border-left: $sidebar-color solid 8px;
            border-radius: 5px;
            padding: 2rem 1.2rem 2rem 1.2rem;
            @include box-shadow();

            > :first-child {
                font-size: 1rem;
                font-weight: 600;
            }

            > :nth-child(2) {
                font-size: .9rem;
                font-weight: 400;
                color: #646464;
            }

            > :nth-child(3) {
                display: grid;
                grid-template-columns: 1fr repeat(2, 26px);
                gap: 10px;
                justify-items: end;
                margin-top: 5px;
            }
        }
    }

    .right-side {
        grid-template-rows: repeat(2, 320px) 1fr;
        gap: 1.5rem;
    }

    .events {
        display: grid;
        grid-template-rows: 2.3rem minmax(280px, 1fr);
    }

    .events-card {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        align-items: center;

        background-color: white;
        border-radius: 5px;
        font-size: .65rem;
        font-weight: 300;
        color: #3c3c3c;
        padding: .5rem 1.8rem .5rem 1.8rem;
        @include box-shadow();

        > * {
            padding: .6rem 0 .6rem 0;
        }

        ::first-line {
            font-size: .85rem;
            font-weight: 600;
            line-height: 1.4rem;
            color: black;
        }

        :nth-child(2) {
            border-top: 1px solid rgb(210, 210, 210);
            border-bottom: 1px solid rgb(210, 210, 210);
        }
    }

    .active-users {

    }
}

/* CSS */
.button-18 {
  align-items: center;
  background-color: $sidebar-color;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  width: 120px;
  height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.avatar {
    height: 56px;
    width: auto;
    border-radius: 56px;
}

svg {
    height: 1.6rem;
    width: auto;
    @include onclick-effect();
}